### format_for_list

In [4]:
s = '{} {} {} '
f= s.format('ㅇㅇ', 'ㄴㄴ', 'ㅋㅋ')
print(f)

ㅇㅇ ㄴㄴ ㅋㅋ

In [5]:
s = '{}이는 {}와 {}를 좋아한다 '
f= s.format('ㅇㅇ', 'ㄴㄴ', 'ㅋㅋ')
print(f)

ㅇㅇ이는 ㄴㄴ와 ㅋㅋ를 좋아한다

In [6]:
name = '석찬'
num = 30103
add = '인천시 연수구'

s = '{}이는 {}번이고 {}에 살고 있다 '

f= s.format('name', 'num', 'add')

print(f)

name이는 num번이고 add에 살고 있다

In [ ]:
name = input('이름>>>')
num = input('학번>>>')
add = input('주소>>>')

s = '{}이는 {}번이고 {}에 살고 있다 '

f= s.format('name', 'num', 'add')

print(f)

#### [문제1] 다음과 같은 양식으로 입력받아 출력하기
- 햄버거 2 4 입력하면
- 햄버거 2개 값은 8 달라입니다.

In [ ]:
food = input('음식>>>')
num = input('갯수>>>')
money = int(input('돈>>>'))

a = '{} {}개 값은 {} 달라입니다. '

b= a.format(food, num, money*2)

print(b)

음식>>>
갯수>>>2

### List

In [2]:
arr = [1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

In [6]:
arr = ['성곤', '대건', '대범', '호정']
arr

['성곤', '대건', '대범', '호정']

In [4]:
arr[0]

'성곤'

In [7]:
len(arr)

4

In [8]:
for i in range(1,6) :
    print(i)

1
2
3
4
5

In [9]:
for i in range(5,1,-1) :
    print(i)

5
4
3
2

In [10]:
for i in arr :
    print(i)

성곤
대건
대범
호정

In [11]:
for i in range(4) :
    print(i)

0
1
2
3

In [12]:
for i in range(len(arr)) :
    print(arr[i])

성곤
대건
대범
호정

In [14]:
for i, val in enumerate(arr) :
    print(i+1, '번', val)

1 번 성곤
2 번 대건
3 번 대범
4 번 호정

## [문제1] 30부터 50까지 출력해보기

In [17]:
for i in range(30,51) :
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

## [문제2] 30부터 50까지 중에서 홀수만 출력해보기

In [18]:
for i in range(30,51) :
    if i%2!=0 :
        print(i)

31
33
35
37
39
41
43
45
47
49

## [문제3] 30부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [19]:
sum = 0
for i in range(30,51) :
    if i%2!=0 :
        sum = sum+i
        print(i)
print('합계',sum)

31
33
35
37
39
41
43
45
47
49
합계 400

## [문제4]
   - 1부터 10까지 중에서
   - 짝수이면 파이썬
   - 홀수이면 야 너도 할수있어 출력

In [32]:
for i in range(1, 11) :
    if i%2!=0 :
        print('파이썬')
    else :
        print('야 너도 할수있어')

파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어